/*------------------------------------------------------------------

-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Layout]

* body

	+ Global
		- Padding/Margin
		- OW pull-left/pull-right
		- Section Padding
	+ Fonts Settings
		- Montserrat
		- Open Sans
	+ Header
	+ Footer
	+ Page Banner
	
	+ Responsive
		- min-width: 1200
		- min-width: 992
		- max-width: 1366
		- max-width: 1200
		- min-width: 992 to max-width: 1200
		- max-width: 991
		- min-width: 768 to max-width: 991
		- max-width: 767
		- max-width: 639
		- max-width: 479
-------------------------------------------------------------------*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #000;
	background-color: #fff;
	position: relative;
}
img {
    max-width: 100%;
	height: auto;
}
a {
    outline: 0 !important;
}
h1,h2,h3,h4,h5,h6 {
	word-wrap: break-word;
}

/* + Global */
	/* - Padding/Margin */
	.no-padding {
		padding: 0;
	}
	.no-left-padding{
		padding-left: 0;
	}
	.no-right-padding {
		padding-right: 0;
	}
	.no-top-padding {
		padding-top: 0;
	}
	.no-bottom-padding {
		padding-bottom: 0;
	}
	.no-margin {
		margin: 0;
	}
	.no-left-margin {
		margin-left: 0;
	}
	.no-right-margin {
		margin-right: 0;
	}
	.no-top-margin {
		padding-top: 0;
	}
	.no-bottom-margin {
		margin-bottom: 0;
	}

	/* - OW pull-left/pull-right */
	.ow-pull-right {
		float: right;
	}
	.ow-pull-left {
		float: left;
	}


main {
	overflow: hidden;
}

/* - Section Padding */
.section-padding {
	padding-bottom: 75px;
	padding-top: 75px;
}
.padding-30 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.padding-50 {
	padding-top: 25px;
	padding-bottom: 25px;
}
.padding-60 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.padding-100 {
	padding-top: 50px;
	padding-bottom: 50px;
}

/* - Page Bradcrumb */
.page-breadcrumb {
	background-color: #efefef;
	padding: 20px 0;
}
.page-breadcrumb .breadcrumb {
	background-color: transparent;
	margin-bottom: 0;
	padding: 0;
}
.page-breadcrumb .breadcrumb li {
	font-size: 20px;
	font-style: italic;
}
.page-breadcrumb .breadcrumb li,
.page-breadcrumb .breadcrumb li a,
.page-breadcrumb .breadcrumb > li + li::before {
	color: #212121;
}

/* - Section Header */
.section-header {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}
.section-header span {
	font-size: 16px;
	font-style: italic;
	color: #727272;
}
.section-header h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 25px;
	text-transform: capitalize;
	letter-spacing: -2.5px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.section-header p {
	font-size: 13px;
	color: #727272;
	line-height: 24px;
	margin-bottom: 0;
	padding: 0 10%;
}
.gray-bg {
	background-color: #efefef !important;
}

.no-bg {
	background: none !important;
}
.no-border {
	border: none !important;
}
.text-white {
	color: #ffffff;
}
.text-black {
	color: #000000;
}
.text-black-i {
	color: #000000 !important;
}
.no-padding-left-i {
	padding-left: 0px !important;
}
.border-black {
	border-color: #000;
}
.border-black-i {
	border-color: #000 !important;
}
.btn-hover-white-i:hover {
	color: #fff !important;
	border-color: #fff !important;
}
.default-link-button, .default-link-button:visited {
	outline: 0px solid #ffffff;
	color: #fff;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}
.default-link-button:hover, .default-link-button:focus, .default-link-button:active {
	outline: 0px solid #ffffff;
	text-decoration: unset;
	color: #ffc107;
}
.map-search-form .form-control {
	min-height: 40px !important;
}
.map-search-form input[type="submit"]{
	padding: 8px 0px !important;
}
.map-search-form select[name=client-district]{
    padding-top: 5px;
}


/*Custom design*/

.woocommerce .woocommerce-ordering select {
	background-color: #aaa !important;
	border-color: #aaa !important;
}
.woocommerce .products ul li > a .product-img-box, .woocommerce ul.products li > a .product-img-box {
	width: 271px !important;
}
.btn.btn-yellow {
	background-color: #02bcef;
	border: 2px solid #02bcef;
	color: #fff;
	font-family: "Montserrat",sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding: 9px 52px;
	text-align: center;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}
.btn.btn-yellow:hover {
	background-color: #fff;
	color: #02bcef;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}
.dropify-wrapper.touch-fallback .dropify-clear {
	width: 80px;
}
.map-search-form .form-control {
	padding: 5px 30px !important;
}
.padding-15 {
	padding-top: 15px;
}
.map-sidebar-content {
	height: 100px;
	overflow: hidden;
	margin-bottom: 5px !important;
}
.map-sidebar-content:hover {
	cursor: pointer;
	background-color: #ccc;
}
.map-sidebar-content p strong {
	white-space: nowrap ;
}
.map-sidebar-content img {
	height: 70px;
}
.map-sidebar-content.active, .map-sidebar-content.hover-state {
	cursor: pointer;
	background-color: #ccc;
}

.partners-section .partners-carousel .owl-item img {
	height: 120px;
}
.top-header-section .version-button a {
	border: none !important;
	border-right: 2px solid #02bcef !important;
	border-radius: 0px
}
.logo-block a img {
	height: 80px;
}
.navbar-header a img {
	height: 60px;
}
.interractive-content {
	margin-bottom: 30px;
	max-height: 255px;
	overflow: hidden;
}
.interractive-content img {
	height: 80px;
}
.no-padding-right {
	padding-right: 0 !important;
}
.bg-brand {
	background-color: #02bcef;
	color: #fff;
}



/* - Latest Post Widget */
/*------------------------------------------------------------------
	+ Responsive
-------------------------------------------------------------------*/

/* - min-width: 1200 */
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}	
}

/* - min-width: 992 */
@media (min-width: 992px) {
	.section-header p {
		padding: 0 33%;
	}
}
/* - max-width: 1366 */
@media (max-width: 1366px) {	
	
}

/* - max-width: 1200 */
@media (max-width: 1200px) {	
	
}

/* - min-width: 992 to max-width: 1200 */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	
}

/* - max-width: 991 */
@media (max-width: 991px) {	
	.col-sm-pull-left {
		float: none !important;
	}
}

/* - min-width: 768 to max-width: 991 */
@media only screen and (min-width: 768px) and (max-width: 991px) {


}

/* - max-width: 767 */
@media (max-width: 767px) {
	
	
}

/* - max-width: 639 */
@media (max-width: 639px) {
	
}

/* - max-width: 479 */
@media (max-width: 479px) {
	
}